

<!--<h3>Upload File for FTS</h3>-->

<form #form="ngForm" class="add-form" enctype="multipart/form-data" (ngSubmit)="onSubmit()">
    <div>
        <h4 class="form-bar">&nbsp;</h4>
    </div>
    <div class="row">
        <div class="form-group"> </div>
    </div>

    <div class="row">

        <div class="col-sm-4">

            <label for="name">Device Type </label>
            <sup>*</sup>
        </div>
        <div class="col-sm-7 col-xs-7">
            <input type="text" class="form-control" name="DeviceType" [(ngModel)]="_DeviceType" required #name="ngModel">
            <!--<div [hidden]="fname.valid || fname.pristine"
                         class="alert alert-danger">
                        <div [hidden]="!fname.hasError('required')">Name is required</div>
                        <div [hidden]="!fname.hasError('pattern')">Only alphabets allowed</div>

                    </div>-->
            <div class="form-group"> </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">

            <label for="name">Short Comment </label>
            <sup>*</sup>
        </div>
        <div class="col-sm-7 col-xs-7">

            <textarea class="form-control" rows="2" id="comment" name="Comment" [(ngModel)]="_Comment"></textarea>
            <!--<input type="text" class="form-control"  name="Comment" [(ngModel)]="_Comment"      
                       #name="ngModel">-->
            <!--<div [hidden]="fname.valid || fname.pristine"
                         class="alert alert-danger">
                        <div [hidden]="!fname.hasError('required')">Name is required</div>
                        <div [hidden]="!fname.hasError('pattern')">Only alphabets allowed</div>

                    </div>-->
            <div class="form-group"> </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">

            <label for="newconfig">Select File </label>
            <sup>*</sup>
        </div>
        <div class="col-sm-7 col-xs-7">
            <input type="file" class="form-control" #fileupload [(ngModel)]="selectedFile" name="myFile" (change)="handleFileInput(fileupload.files)"
                base-sixty-four-input />

            <div class="form-group"> </div>
        </div>
    </div>

    <div>
        <div class="down-bar">&nbsp;</div>
    </div>
    <div class="form-group">
    </div>
    <br />
    <div class="align-center">
        <button type="submit" class="btnSubmit btn btn-primary" id="register" [disabled]="!form.valid">Upload</button>
    </div>
</form>