<div class="d-flex justify-content-center align-items-center logins-form container ">

    <div class="row ">


        <form #form="ngForm" (ngSubmit)="Vadidate()">
            <!--Image-->

            <div class="form-group form-input">
                <img class="login-img" alt="logo">
            </div>


            <!--Username-->
            <div class="form-group form-input">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control col-sm-12" name="sLoginID" [(ngModel)]="sLoginID"/>
            </div>

            <!--Password-->
            <div class="form-group ">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control col-sm-12" name="sPassword" [(ngModel)]="sPassword" />
            </div>

           


            <!--Button-->

            <div class="form-group form-input">

                <button type="submit" class="btn btn-primary btn-block col-sm-12" [disabled]="!form.valid" id="Save">Submit</button>&nbsp;

            </div>

        </form>

    </div>

</div>