<nav class="navbar navbar-expand-md fixednav">
  <!-- Brand/logo -->
  <a class="navbar-brand" (click)="Active('Pending')" [routerLink]="'/pending'">
    <img src="assets/Images/logo_inner.png"  alt="logo" style="width:70%">
  </a>
 
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item navlink">
      <a class="nav-link navbar-brand" (click)="Active('Pending')"  [routerLink]="'/pending'"> Pending Approvals </a>
    <div [ngClass]=activePendingLink>&nbsp;</div>
    <!--  -->

    </li>
    <li class="nav-item">
     <a class="nav-link navbar-brand" (click)="Active('UserList')" [routerLink]="'/users'"> User List </a>
     <div [ngClass]=activeUserListLink>&nbsp;</div>
     <!-- (click)="Active('UserList')" -->
      <!-- <img src="assets\Images\arrow_black.png" /> -->
 
    </li>
    <li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link navbar-brand" (click)="Active('AddUser')" [routerLink]="'/adduser'"> Add User </a>
      <div [ngClass]=activeAddUserLink>&nbsp;</div>
    </li>
     <li class="nav-item" [routerLinkActive]="['link-active']">
    <a class="nav-link navbar-brand" (click)="Active('Upload')" [routerLink]="'/upload'"> Upload Config </a> 
    <div [ngClass]=activeUploadLink>&nbsp;</div>
    </li>
   
   <li class="userName navbar-brand"  >
          <img class="userlogo" alt="Logo" >
      <label>{{currentUser.body.name}}</label>
     
 </li>
 <li class="navbar-brand"  >
      <a (click)=logout() >
          <img class="logoutbtn" alt="Logo" >
          Log out
      </a>
 </li>
  </ul>
</nav>
