/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.iwt{
    display:block !important;
    }


.add-form {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin-top: 10px;
    margin-bottom:15px;
    margin-left: 180px;
    background-color: white;
    vertical-align: middle;
    width: 1050px

 
}
.nav-bar{
    /* background-color:#A8A8A8;  */
    background-color:#e1e1e1;   
    height:7px
}

.nav-baractive{
    background-color:#585858 !important; 
    height:7px !important
}
.down-bar{
    /* background-color:#A8A8A8;  */
    background-color:#a0a1a5 !important;
    
    height:7px
}


.userName{
    margin-left: 90px;
    float: left
}
.userlogo{
    content: url('/assets/Images/icon_user.png');
    padding-bottom: 4px
}

.logoutbtn{
/* margin-top: -1px;
margin-left: -53px; */
content: url('/assets/Images/icon_logout.png');
}
.logouttext{
    margin-top: -90px;
   
}

.table > thead >tr> th {
    color: white !important;
    /* background-color:	#989898 !important */
    background-color:	#a0a1a5 !important
 }
 .btnSubmit{
   
    margin-left: 350px;
    width: 250px;
}

.btnReject{
  
   
    width: 250px;
}

a{
   cursor: pointer;
   /*text-decoration: underline;
   border-bottom: 0.01px solid #007bff;*/
}
a:hover {
   color:  #007bff!important;
}

.row {
    margin-left: 21px;
}

sup {
    color: red;
    font-weight: 300;
}


.simple-form {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    margin-top: 10px;
    margin-bottom:15px;
    margin-left: 50px;
    background-color: white;
    display: inherit;
    vertical-align: middle;
    width: auto     
}

.form-bar{
    background-color: #a0a1a5
}

.top-left{
    color:red;margin: 0 22px -14px;
}

.logins-form{
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    line-height: 1.42857143;
    color: #333;
    margin-top: 80px !important;
    margin-bottom:150px !important;
    margin-left: 180px;
    background-color: white;
    vertical-align: middle;
    width: 500px !important ;
    height: 550px;
    padding-bottom: 115px;
}

.adduser-form{
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    line-height: 1.42857143;
    color: #333;
    margin-top: 40px !important;
    margin-bottom:150px !important;
    margin-left: 180px;
    background-color: white;
    width: 600px !important ;
    height: 700px  ;
    padding-bottom: 115px;
}
.addform-input{
    padding-top: 10%
}
.login-img{
    margin-top: 22% !important;
    content: url("assets/Images/logo_login.png");
    width:10%;
   }

   .add-user{
    content:"";
    margin-top: 22% !important;
    width:10%;
   }
.form-group .btn-primary, .form-group .btn-primary:hover{
   background-color: #0098db 

}
.form-input{
    padding-top: 10%
}
.custom-title{
    font-size: 14px;
    color: white;
    background-color: #989898 !important;
}

.custom-body{
    font-size: 16px !important;
    color: white;
    background-color: #989898 !important;
}
.custom-modal{
    background-color: white;
    height: 80px  ;
  }
.btnmodal{
    padding-left:30px !important;
}


/* The container */
.lblcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #007bff
}




/* Hide the browser's default checkbox */
.lblcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white; 
   
    border: solid  #2196F3;
    border-width: 1px;
}

/* On mouse-over, add a grey background color */
.lblcontainer:hover input ~ .checkmark {
    background-color: #ccc;
   
    
}



/* When the checkbox is checked, add a blue background */
.lblcontainer input:checked ~ .checkmark {
    /* background-color: #2196F3; */
    background-color:white;
        
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.lblcontainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.lblcontainer .checkmark:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid #2196F3;          
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}